.Agents{
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(0,0,23,1) 17%, rgba(14,21,97,1) 100%);
}

.Titulo1{
    color: #eb0000;
    padding-top: 100px;
}

.Titulo2{
    color: #00ddff;
    padding-top: 100px;
}